h2 {
    margin: 2%;
    font-size: 32px;
    color: #4aaaa5;
    /* border-bottom: 2px solid #cccccc; */
    
}

.mainContactInfo {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
    border-top: 2px solid #cccccc;
}

#name {
    color: #777777;
    margin-top: 2%;
    width: 100%;
    font-size: 20px;
}

#email {
    color: #777777;
    margin-top: 0.8%;
    width: 100%;
    font-size: 20px;
}

#message {
    color: #777777;
    margin-top: 0.8%;
    width: 100%;
    font-size: 20px;
}

#messageBox {
    height: 150px;

}

#submit {
    margin-top: 2%;
    background-color: #4aaaa5;
    height: 40px;
    width: 100px;
    font-size: 16px;
    color: #ffffff;
    border: none;

}

input {
    width: 100%;
    margin-top: 0.6%;
    font-size: 14px;
    height: 30px;
    color: #777777
    /* margin-top: 1%; */
}

/* #email {
    color: #cccccc;
    padding: 0.4%;
    width: 98.9%;
    border: #cccccc solid 1px;
}

#message {
    color: #cccccc;
    padding: 0.4%;
    width: 98.9%;
    height: 200px;
    border: #cccccc solid 1px;
} */
